APP_VARIANT=development

# API
EXPO_PUBLIC_API_BASE_URL=https://api-dev.mio.app

# API 서버 사용시 false로 변경 (임시)
EXPO_PUBLIC_USE_MOCK=true
EXPO_PUBLIC_KAKAO_NATIVE_APP_KEY= production용 카카오 네이티브 앱 키
EXPO_PUBLIC_KAKAO_NATIVE_APP_KEY_DEV= dev용 카카오 네이티브 앱 키